<% if logged_in? %>

  <%#ログイン済み %>
  <h1><%= current_user.name %>さんのタスク一覧</h1>
  <ul>
      <% @tasks.each do |task| %>
        <li><%= link_to task.id, task%>：<%= task.status %> &gt; <%= task.content %></li>
      <% end %>
  </ul>
  
  <%= link_to '新規タスクの登録', new_task_path %>
  
  <%= link_to 'Logout', logout_path, method: :delete %>
  

<% else %>

  <%#未ログイン %>
  <%= link_to 'Login', login_path %>

<% end %>


